body {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

h2 {
  font-family: "Trirong", sans-serif;
  color: rgb(12, 12, 12);
}

p {
  font-family: "Roboto", serif;
  color: rgb(27, 27, 27);
}

.about {
  width: 100%;
}

.about h2 {
  font-size: 40px;
}

.background {
  width: 100%;
  padding: 3vw 5vw;
  background-color: #56b4ce;
  position: relative;
  overflow: hidden;
}

.about .content {    
  display: grid;
  grid-template-columns: 399px 1fr;
  z-index: 1;
  position: relative;
}

.triangle {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  border-bottom: 250px solid white;
  border-left: 100vw solid transparent ;
}

.photo {
  display: flex;
  width: 400px;
  height: 400px;
  z-index: 1;
  position: relative;
  grid-row: 1/3;
}

.photo .name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: transparent;
  color: white;
  width: 100%;
  text-align: center;
}

.text-container {
  background-color: white;
  margin: 40px 0;
  padding: 16px;
  box-shadow: 3px 3px 2px#acacac ;
}

.text-container .text {
  font-size: 20px;
  line-height: 1.8rem;
}

.phone.triangle {
  display: none;
}

.projects > h2 {
  margin-left: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  margin:30px 0 60px;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
  box-shadow: 2px 2px 2px 2px#acacac ;
  margin-top: 10px;
}

.screenshot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
}

.screenshot img {
  height: 100%;
  transition: all ease-in-out .3s;
}

.screenshot img:hover {
  transform: scale(1.5);
}

.project-card .info {
  height: 150px;
  padding: 5px;
}

.project-card .header {
  display: flex;
  justify-content: space-between;
  margin-top: -2px;
  align-items: center;
}

.project-card h2 {
  text-shadow: 1px 1px #acacac;
  line-height: 1.8rem;
}

.project-card .header img {
  height: 27px;
}

.project-card .links {
  display: flex;
  gap: 5px;
}

.contact {
  background-color: #56b4ce;
  padding: 20px;
  display: flex;
  align-items: center;
}

.contact * {
  color: rgb(255, 255, 255);
}

.left {
  padding: 0 30px;
}

.left p {
  margin-top: 10px;
  text-shadow: 0px 0px white;
  display: flex;
  gap: 8px; 
  height: 20px;
}

.left .address {
  margin-top: 20px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.circle {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.tech {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 160px;
  overflow: hidden;
  background-color: white;
}

.tech img {
  height: 84%;
}


@media (max-width: 932px) {

  .background {
    padding: 20px 10px;
  }

  .triangle {
    border-bottom: 400px solid white;
  }

  .about h2 {
    margin-top: 28px;
  }

  .about .content {
    padding: 30px 30px 0;
    display: block;
  }

  .photo {
    width: 350px;
    height: 350px;
    top: -5px;
    left: -10px;
    float: left;
  }

  .photo .name {
    left: 80%;
    bottom: 75%;
    width: max-content;
  }

  .text-container {
    margin: 60px 0 30px 30px;
  }

  .projects {
    padding: 0px;
  }

  .grid {
    gap: 8px;
  }

  .project-card {
    width: 360px;
    height: 315px;
  }

  .project-card .info {
    height: 115px;
  }

}

@media (max-width: 660px) {
  .photo .name {
    left: 60%;
    width: max-content;
  }
}

@media (max-width: 600px) {

  .photo-background {
    background-color: #56b4ce;
    padding: 30px 0px;
    position: relative;
  }

  .background {
    padding: 0;
    background-color: white;
  }

  .about .content {
    padding: 0;
    margin: auto;
  }

  .photo {
    max-width: 400px;
    max-height: 400px;
    float: none;
    margin: auto;
    top: 0;
    left: 0;
    width: 94%;
    overflow: hidden;
    min-width: 200px;
    justify-content: center;
  }

  .photo .name {
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 64px;
    text-align: left;
  }

  .text-container {
    margin: 0;
    background-color: transparent;
  }

  .triangle {
    border-bottom: 150px solid white;
  }

  .phone.triangle {
    display: block;
  }

  .projects > h2 {
    margin-left: 15px;
  }

  .grid {
    gap: 16px;
  }

  .project-card {
    width: 94%;
    height: auto;
  }

  .screenshot img {
    width: 100%;
    height: auto;
  }

  .project-card .info {
    height: auto;
  }

  .contact {
    flex-direction: column;
    align-items: normal;
  }

  .left {
    padding: 0;
  }

  .right {
    margin-top: 20px;
  }

}

@media (max-width: 450px) {

  .screenshot img {
    width: auto;
    height: 100%;
  }
}